body {
  background-color: #fff;
  color: #000000;
  font-size: 100%;
}

nav {
  background-color: #404040;
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.3em;
  padding-bottom: 10px;
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.3em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

a {
  text-decoration: none;
}

a:link {
  color:#ffffff;
}

a:visited {
  color:#ffffff;
}

a:hover {
  color:#FF9EB0;
}

a:active {
  color:#fcebcf;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
